.about .container {
  background-image:
    image-set(
      url("../../img/bg/about-bg-mobile@1x.webp") 1x,
      url("../../img/bg/about-bg-mobile@2x.webp") 2x,
      url("../../img/bg/about-bg-mobile@1x.jpg") 1x,
      url("../../img/bg/about-bg-mobile@2x.jpg") 2x
    );
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 -10px;

  @include media("tablet") {
    background-image:
      image-set(
        url("../../img/bg/about-bg-tablet@1x.webp") 1x,
        url("../../img/bg/about-bg-tablet@2x.webp") 2x,
        url("../../img/bg/about-bg-tablet@1x.jpg") 1x,
        url("../../img/bg/about-bg-tablet@2x.jpg") 2x
      );
    background-size: 545px;
    background-position: 0 115px;
  }

  @include media("desktop") {
    padding-bottom: 130px;
    background-image:
      image-set(
        url("../../img/bg/about-bg-desktop@1x.webp") 1x,
        url("../../img/bg/about-bg-desktop@2x.webp") 2x,
        url("../../img/bg/about-bg-desktop@1x.jpg") 1x,
        url("../../img/bg/about-bg-desktop@2x.jpg") 2x
      );
    background-size: 660px;
    background-position: 0 -18px;
  }
}

.about__container {
  width: 290px;
  padding-top: 407px;

  @include media("tablet") {
    width: 270px;
    margin-left: auto;
    margin-right: 3px;
    padding-top: 0;
  }

  @include media("desktop") {
    width: 585px;
    margin-right: 75px;
    padding-top: 27px;
  }
}

.about h2 {
  margin: 0;
  margin-bottom: 42px;
  font-size: 22px;
  line-height: 1;
  font-weight: 800;

  @include media("tablet") {
    margin-bottom: 48px;
    font-size: 25px;
  }

  @include media("desktop") {
    margin-bottom: 59px;
    font-size: 35px;
  }
}

.about__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about__list h3 {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 1;

  @include media("tablet") {
    margin-bottom: 11px;
    font-size: 18px;
  }

  @include media("desktop") {
    margin-bottom: 16px;
    font-size: 21px;
  }
}

.about__list p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;

  br {
    display: none;
  }

  @include media("tablet") {
    font-size: 16px;
    line-height: 24px;
  }

  @include media("desktop") {
    font-size: 14px;
    line-height: 22px;

    br {
      display: block;
    }
  }
}

.about__item:not(:last-child) p {
  margin-bottom: 27px;

  @include media("tablet") {
    margin-bottom: 29px;
  }
}
