.about h2 {
  margin: 0;
  margin-bottom: 42px;
  font-size: 22px;
  line-height: 1;

  @include media("tablet") {
    margin-bottom: 46px;
    font-size: 25px;
  }

  @include media("desktop") {
    margin-bottom: 57px;
    font-size: 35px;
  }
}

.about__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about__list h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1;

  @include media("tablet") {
    font-size: 18px;
  }

  @include media("desktop") {
    margin-bottom: 20px;
    font-size: 21px;
  }
}

.about__list p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;

  @include media("tablet") {
    font-size: 16px;
    line-height: 24px;
  }

  @include media("desktop") {
    font-size: 14px;
    line-height: 22px;
  }
}

.about__item:not(:last-child) p {
  margin-bottom: 25px;
}
