.advantages {
  text-align: center;
}

.advantages__slider .swiper-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include media("tablet") {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}

.advantages__slide {
  width: 290px;
  padding: 82px 10px 20px;

  border: 1px solid rgba($blue, 0.1);

  background-repeat: no-repeat;
  background-size: 42px;
  background-position: center 20px;

  &:nth-child(1) {
    background-image: url("/__spritemap#sprite-safety-view");
  }
  &:nth-child(2) {
    background-image: url("/__spritemap#sprite-crown-view");
  }
  &:nth-child(3) {
    background-image: url("/__spritemap#sprite-boots-view");
  }
  &:nth-child(4) {
    background-image: url("/__spritemap#sprite-route-view");
  }
  &:nth-child(5) {
    background-image: url("/__spritemap#sprite-leaf-view");
  }

  @include media("tablet") {
    width: 324px;
    padding: 103px 20px 30px;
    background-size: 48px;
    background-position: center 25px;
  }

  @include media("desktop") {
    width: 380px;
    padding: 124px 20px 40px;
    background-size: 54px;
    background-position: center 30px;
  }
}

.advantages__slide h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
}

.advantages__slide p {
  margin: 0;

  @include media("desktop") {
    font-size: 14px;
    line-height: 22px;
  }
}
