.advantages {
  text-align: center;

  & .container {
    padding-top: 12px;

    @include media("desktop") {
      padding: 0;
      padding-top: 23px;
    }
  }
}

.advantages__slider.is-disabled .swiper-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include media("tablet") {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}

.advantages__slide {
  border: 1px solid rgba($blue, 0.1);

  background-color: $white;
  background-repeat: no-repeat;
  background-size: 42px;
  background-position: center 20px;

  &--safety {
    background-image: url("/__spritemap#sprite-safety-view");
  }
  &--crown {
    background-image: url("/__spritemap#sprite-crown-view");
  }
  &--boots {
    background-image: url("/__spritemap#sprite-boots-view");
  }
  &--route {
    background-image: url("/__spritemap#sprite-route-view");
  }
  &--leaf {
    background-image: url("/__spritemap#sprite-leaf-view");
  }
}

.advantages__slide.swiper-slide {
  width: 290px;
  padding: 82px 10px 20px;

  @include media("tablet") {
    width: 324px;
    padding: 103px 20px 30px;
    background-size: 48px;
    background-position: center 25px;
  }

  @include media("desktop") {
    width: 380px;
    min-height: 329px;
    padding: 124px 20px 40px;
    background-size: 54px;
    background-position: center 30px;
  }
}

.advantages__slide h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1;
  font-weight: 600;

  @include media("tablet") {
    font-size: 16px;
  }

  @include media("desktop") {
    font-size: 18px;
  }
}

.advantages__slide p {
  margin: 0;
  font-size: 12px;
  line-height: 18px;

  @include media("tablet") {
    font-size: 14px;
    line-height: 22px;
  }
}
