.advantages {
  text-align: center;

  & .container {
    padding-top: 12px;

    @include media("tablet") {
      padding-top: 60px;
    }

    @include media("desktop") {
      padding: 0;
      padding-top: 132px;
    }
  }
}

.advantages__slider.is-disabled .swiper-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @include media("tablet") {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 29px;
    justify-content: center;
  }

  @include media("desktop") {
    row-gap: 28px;
  }
}

.advantages__slide {
  border: 1px solid rgba($blue, 0.1);

  background-color: $white;
  background-repeat: no-repeat;
  background-size: 42px;
  background-position: center 20px;

  &--safety {
    background-image: url("/__spritemap#sprite-safety-view");
  }
  &--crown {
    background-image: url("/__spritemap#sprite-crown-view");
  }
  &--boots {
    background-image: url("/__spritemap#sprite-boots-view");
  }
  &--route {
    background-image: url("/__spritemap#sprite-route-view");
  }
  &--leaf {
    background-image: url("/__spritemap#sprite-leaf-view");
  }
}

.advantages__slide {
  &.swiper-slide {
    width: 290px;
    padding: 81px 9px 20px;

    @include media("tablet") {
      width: 324px;
      min-height: 341px;
      padding: 103px 19px 30px;
      background-size: 48px;
      background-position: center 29px;
    }

    @include media("desktop") {
      width: 380px;
      min-height: 329px;
      padding: 120px 19px 40px;
      background-size: 54px;
      background-position: center 39px;
    }
  }
}

.advantages__slide {
  h3 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;

    @include media("tablet") {
      font-size: 16px;
      margin-bottom: 14px;
    }

    @include media("desktop") {
      font-size: 18px;
      margin-bottom: 15px;

      br {
        display: none;
      }
    }
  }
}

.advantages__heading {
  &--leaf {
    padding-right: 4px;

    @include media("tablet") {
      padding-right: 4px;
    }

    @include media("desktop") {
      padding-right: 0;
    }
  }
}

.advantages__slide p {
  margin: 0;
  font-size: 12px;
  line-height: 18px;

  @include media("tablet") {
    font-size: 14px;
    line-height: 22px;

    br {
      display: none;
    }
  }
}

.advantages__slide {
  &--crown p {
    .nbsp {
      display: none;
    }

    @include media("tablet") {
      .nbsp {
        display: inline;
      }
    }
  }

  &--boots p {
    br {
      display: none;
    }

    .nbsp:nth-of-type(2) {
      display: inline;
    }

    @include media("tablet") {
      br:first-of-type {
        display: none;
      }

      br:last-of-type {
        display: inline;
      }

      .nbsp:nth-of-type(1) {
        display: inline;
      }

      .nbsp:nth-of-type(2) {
        display: none;
      }
    }

    @include media("desktop") {
      br:first-of-type {
        display: block;
      }

      br:last-of-type {
        display: none;
      }

      .nbsp:first-of-type {
        display: none;
      }
    }
  }

  & span {
    @include media("tablet") {
      margin-left: 0;

      & span {
        margin-left: -1px;

        @include media("desktop") {
          margin-left: 0;
        }
      }

      @include media("desktop") {
        margin-left: 0;
      }
    }
  }
}
