.button {
  display: inline-block;
  padding: 20px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  color: $white;
  background-color: $blue;
  border: none;

  transition: background-color 0.2s, color 0.2s;

  &:hover {
    outline: 1px solid $dark-blue;
    color: $dark-blue;
    background-color: $white;
  }

  &:focus {
    outline: none;
    color: $dark-blue;
    background-color: $white;
  }

  &:active {
    color: $white;
    background-color: $dark-blue;
  }

  &:disabled,
  &.disabled {
    background-color: $grey;
  }
}
