.callback {
  color: $white;
  text-align: center;
  background-color: #5e664e;
  background-image:
    image-set(
      url("../../img/bg/callback-bg@1x.webp") 1x,
      url("../../img/bg/callback-bg@2x.webp") 2x,
      url("../../img/bg/callback-bg@1x.jpg") 1x,
      url("../../img/bg/callback-bg@2x.jpg") 2x
    );
  background-size: 1394px 746px;
  background-position: -609px -56px;

  @include media("tablet") {
    background-size: 1469px 795px;
    background-position: -427px -59px;
  }

  @include media("desktop") {
    background-size: 1440px;
    background-position: 0 0;
  }
}

.callback__container {
  padding: 174px 31px;
  padding-top: 177px;
  padding-bottom: 174px;

  @include media("tablet") {
    padding: 187px 204px;
    padding-bottom: 185px;
  }

  @include media("desktop") {
    padding: 296px 240px;
  }
}

.callback h2 {
  margin: 0;
  margin-bottom: 17px;
  font-size: 22px;
  line-height: 1;
  font-weight: 800;

  @include media("tablet") {
    margin-bottom: 23px;
    font-size: 25px;
  }

  @include media("desktop") {
    margin-bottom: 18px;
    font-size: 35px;
  }
}

.callback p {
  margin: 0;
  margin-bottom: 20px;

  @include media("tablet") {
    width: 360px;
    margin: 0 auto;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
    transform: translateX(-1px);

    br {
      display: none;
    }
  }

  @include media("desktop") {
    width: 600px;
    margin-bottom: 39px;
    transform: none;
  }
}

.callback__text {
  margin-left: 3px;

  @include media("tablet") {
    margin-left: 0;
  }
}

.callback form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 400px;
  margin: 0 auto;

  @include media("tablet") {
    gap: 11px;
    max-width: 500px;
  }

  @include media("desktop") {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 960px;
  }
}

.callback .field {
  flex-grow: 1;
}

.callback .button {
  padding-top: 22px;

  @include media("tablet") {
    padding-top: 20px;
  }

  @include media("desktop") {
    width: 180px;
  }
}
