.callback {
  color: $white;
  text-align: center;
  background-color: #5e664e;
  background-image: url("../../img/bg/callback-bg.jpg");
  background-size: cover;
  background-position: center;

  @include media("tablet") {
    background-size: 1520px;
    background-position: -455px center;
  }

  @include media("desktop") {
    background-size: cover;
    background-position: center;
  }
}

.callback__container {
  padding: 174px 31px;

  @include media("tablet") {
    padding: 183px 204px;
  }

  @include media("desktop") {
    padding: 292px 240px;
  }
}

.callback h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 1;
  font-weight: 800;

  @include media("tablet") {
    margin-bottom: 25px;
    font-size: 25px;
  }

  @include media("desktop") {
    margin-bottom: 20px;
    font-size: 35px;
  }
}

.callback p {
  margin: 0;
  margin-bottom: 20px;

  @include media("tablet") {
    width: 360px;
    margin: 0 auto;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 24px;

    & br {
      display: none;
    }
  }

  @include media("desktop") {
    width: 600px;
    margin-bottom: 40px;
  }
}

.callback form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 400px;
  margin: 0 auto;

  @include media("tablet") {
    gap: 11px;
    max-width: 500px;
  }

  @include media("desktop") {
    flex-direction: row;
    gap: 30px;
    max-width: 960px;
  }
}

.callback .field {
  flex-grow: 1;
}

.callback .button {
  @include media("desktop") {
    width: 180px;
  }
}
