.contacts {
  position: relative;
  text-align: left;
}

.contacts__container {
  margin-bottom: 30px;

  @include media("tablet") {
    margin-bottom: 40px;
  }

  @include media("desktop") {
    width: 500px;
    margin-bottom: 0;
  }
}

.contacts p {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 20px;

  @include media("tablet") {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 24px;
  }

  @include media("desktop") {
    margin-bottom: 50px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include media("tablet") {
    flex-direction: row;
    gap: 39px;

    & br {
      display: none;
    }
  }

  @include media("desktop") {
    flex-direction: column;
    gap: 35px;
  }
}

.contacts__item {
  padding-left: 34px;
  background-repeat: no-repeat;
  background-size: 22px;

  &--phone {
    background-image: url("/__spritemap#sprite-phone-view");
  }
  &--mail {
    background-image: url("/__spritemap#sprite-mail-view");
  }
  &--address {
    background-image: url("/__spritemap#sprite-pin-stroke-view");
  }

  @include media("tablet") {
    background-size: 24px;
  }

  @include media("desktop") {
    padding-left: 56px;
    background-size: 26px;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1;
  font-weight: 600;

  @include media("tablet") {
    margin-bottom: 6px;
    font-size: 16px;
  }

  @include media("desktop") {
    margin-bottom: 8px;
    font-size: 18px;
  }
}

.contacts__link {
  font-size: 14px;
  line-height: 20px;
  color: $black;

  @include media("tablet") {
    line-height: 22px;
  }

  @include media("desktop") {
    font-size: 16px;
    line-height: 24px;
  }
}

.contacts__map {
  @include media("desktop") {
    position: absolute;
    top: 149px;
    left: 50%;
    transform: translateX(calc(600px - 100%));
    width: 600px;
  }
}

.contacts__map img {
  display: block;
  margin: 0 auto;
}
