.contacts {
  position: relative;
  text-align: left;

  & .container {
    @include media("tablet") {
      padding-right: 43px;
    }

    @include media("desktop") {
      padding-right: 120px;
    }
  }
}

.contacts__container {
  margin-bottom: 30px;
  padding-top: 7px;

  @include media("tablet") {
    margin-bottom: 40px;
  }

  @include media("desktop") {
    width: 500px;
    margin-bottom: 0;
    padding-top: 4px;
  }
}

.contacts p {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 20px;

  @include media("tablet") {
    max-width: 500px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 24px;
  }

  @include media("desktop") {
    max-width: 100%;
    margin-bottom: 49px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include media("tablet") {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;

    & br {
      display: none;
    }
  }

  @include media("desktop") {
    flex-direction: column;
    gap: 34px;
  }
}

.contacts__item {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 0 0;

  &--phone {
    background-image: url("/__spritemap#sprite-phone-view");
  }
  &--mail {
    background-image: url("/__spritemap#sprite-mail-view");
  }
  &--address {
    background-image: url("/__spritemap#sprite-pin-stroke-view");
  }

  @include media("tablet") {
    padding-left: 34px;
    background-size: 24px;
  }

  @include media("desktop") {
    padding-left: 56px;
    background-size: 26px;
    background-position: 0 11px;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1;
  font-weight: 600;

  @include media("tablet") {
    margin-bottom: 5px;
    font-size: 16px;
  }

  @include media("desktop") {
    margin-bottom: 9px;
    font-size: 18px;
  }
}

.contacts__link {
  font-size: 14px;
  line-height: 20px;
  color: $black;

  @include media("tablet") {
    line-height: 22px;
  }

  @include media("desktop") {
    font-size: 16px;
    line-height: 24px;
  }

  &:hover {
    color: rgba($black, 0.5);
  }
}

.contacts__map {
  img {
    width: 100%;
  }

  @include media("desktop") {
    position: absolute;
    top: 149px;
    left: 50%;
    width: 600px;
  }
}

.contacts__map img {
  display: block;
  margin: 0 auto;
}
