.field {
  padding: 14px 15px;
  padding-top: 15px;
  padding-left: 14px;
  font-size: 16px;
  line-height: 1;
  border: 1px solid rgba($blue, 0.1);
  border-radius: 2px;

  @include media("tablet") {
    padding: 17px 30px;
    padding-bottom: 18px;
  }

  &::placeholder {
    color: rgba($black, 0.5);
    transition: color 0.2s;
  }

  &:hover {
    border-color: $blue;
  }

  &:focus,
  &:focus:placeholder-shown {
    border-color: $black;
    outline: none;
  }

  &:disabled,
  &:disabled:hover {
    border-color: $grey;
  }

  &--error {
    border-color: $error;
    outline: none;
  }
}
