.gallery__slider p {
  margin: 0;

  @include media("tablet") {
    grid-column: 1 / 2;
    width: 420px;
  }

  @include media("desktop") {
    width: 592px;
    font-size: 16px;

    & br {
      display: none;
    }
  }
}
