.gallery__slider {
  width: 320px;
  margin: 0 auto;

  @include media("tablet") {
    width: 768px;
  }

  @include media("desktop") {
    width: 1440px;
  }
}

.gallery__slider .swiper-wrapper {
  @include media("desktop") {
    display: flex;
    gap: 5px;
  }
}

.gallery__slide.swiper-slide {
  width: 158px;

  @include media("tablet") {
    width: 253px;
  }

  @include media("desktop") {
    width: 284px;
  }
}

.gallery__slide--double.swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.gallery__slide:not(.gallery__slide--double) img {
  height: 266px;
  object-fit: cover;

  @include media("tablet") {
    height: 418px;
  }

  @include media("desktop") {
    height: 463px;
  }
}

.gallery__slide--double img {
  height: 130px;
  object-fit: cover;

  @include media("tablet") {
    height: 206px;
  }

  @include media("desktop") {
    height: 228px;
  }
}

.gallery__slider p {
  margin: 0;

  @include media("tablet") {
    grid-column: 1 / 2;
    width: 420px;
  }

  @include media("desktop") {
    width: 592px;
    font-size: 16px;

    & br {
      display: none;
    }
  }
}
