.hero__slider {
  background-color: #597eab;
  color: $white;
  text-align: center;

  @include media("desktop") {
    text-align: left;
  }
}

.hero__slide {
  min-height: 568px;
  padding-top: 121px;
  padding-bottom: 90px;
  background-size: cover;
  background-repeat: no-repeat;

  &--bg-1 {
    background-image: url("../../img/bg/caucasus-bg-mobile@1x.jpg");
    background-image: image-set(
      url("../../img/bg/caucasus-bg-mobile@1x.webp") 1x,
      url("../../img/bg/caucasus-bg-mobile@2x.webp") 2x,
      url("../../img/bg/caucasus-bg-mobile@1x.jpg") 1x,
      url("../../img/bg/caucasus-bg-mobile@2x.jpg") 2x
    );
  }

  &--bg-2 {
    background-image: url("../../img/bg/kamchatka-bg-mobile@1x.jpg");
    background-image: image-set(
      url("../../img/bg/kamchatka-bg-mobile@1x.webp") 1x,
      url("../../img/bg/kamchatka-bg-mobile@2x.webp") 2x,
      url("../../img/bg/kamchatka-bg-mobile@1x.jpg") 1x,
      url("../../img/bg/kamchatka-bg-mobile@2x.jpg") 2x
    );
  }

  &--bg-3 {
    background-image: url("../../img/bg/altai-bg-mobile@1x.jpg");
    background-image: image-set(
      url("../../img/bg/altai-bg-mobile@1x.webp") 1x,
      url("../../img/bg/altai-bg-mobile@2x.webp") 2x,
      url("../../img/bg/altai-bg-mobile@1x.jpg") 1x,
      url("../../img/bg/altai-bg-mobile@2x.jpg") 2x
    );
  }

  @include media("tablet") {
    padding-top: 342px;
    padding-bottom: 402px;

    &--bg-1 {
      background-image: url("../../img/bg/caucasus-bg-tablet@1x.jpg");
      background-image: image-set(
        url("../../img/bg/caucasus-bg-tablet@1x.webp") 1x,
        url("../../img/bg/caucasus-bg-tablet@2x.webp") 2x,
        url("../../img/bg/caucasus-bg-tablet@1x.jpg") 1x,
        url("../../img/bg/caucasus-bg-tablet@2x.jpg") 2x
      );
    }

    &--bg-2 {
      background-image: url("../../img/bg/kamchatka-bg-tablet@1x.jpg");
      background-image: image-set(
        url("../../img/bg/kamchatka-bg-tablet@1x.webp") 1x,
        url("../../img/bg/kamchatka-bg-tablet@2x.webp") 2x,
        url("../../img/bg/kamchatka-bg-tablet@1x.jpg") 1x,
        url("../../img/bg/kamchatka-bg-tablet@2x.jpg") 2x
      );
    }

    &--bg-3 {
      background-image: url("../../img/bg/altai-bg-tablet@1x.jpg");
      background-image: image-set(
        url("../../img/bg/altai-bg-tablet@1x.webp") 1x,
        url("../../img/bg/altai-bg-tablet@2x.webp") 2x,
        url("../../img/bg/altai-bg-tablet@1x.jpg") 1x,
        url("../../img/bg/altai-bg-tablet@2x.jpg") 2x
      );
    }
  }

  @include media("desktop") {
    padding-top: 200px;
    padding-bottom: 80px;

    &--bg-1 {
      background-image: url("../../img/bg/caucasus-bg-desktop@1x.jpg");
      background-image: image-set(
        url("../../img/bg/caucasus-bg-desktop@1x.webp") 1x,
        url("../../img/bg/caucasus-bg-desktop@2x.webp") 2x,
        url("../../img/bg/caucasus-bg-desktop@1x.jpg") 1x,
        url("../../img/bg/caucasus-bg-desktop@2x.jpg") 2x
      );
    }

    &--bg-2 {
      background-image: url("../../img/bg/kamchatka-bg-desktop@1x.jpg");
      background-image: image-set(
        url("../../img/bg/kamchatka-bg-desktop@1x.webp") 1x,
        url("../../img/bg/kamchatka-bg-desktop@2x.webp") 2x,
        url("../../img/bg/kamchatka-bg-desktop@1x.jpg") 1x,
        url("../../img/bg/kamchatka-bg-desktop@2x.jpg") 2x
      );
    }

    &--bg-3 {
      background-image: url("../../img/bg/altai-bg-desktop@1x.jpg");
      background-image: image-set(
        url("../../img/bg/altai-bg-desktop@1x.webp") 1x,
        url("../../img/bg/altai-bg-desktop@2x.webp") 2x,
        url("../../img/bg/altai-bg-desktop@1x.jpg") 1x,
        url("../../img/bg/altai-bg-desktop@2x.jpg") 2x
      );
    }
  }

  & .button {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.hero__text-content {
  margin-bottom: 60px;

  @include media("tablet") {
    margin-bottom: 35px;
  }
}

.hero__text-content h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 26px;
  line-height: 1;
  font-weight: 800;

  @include media("tablet") {
    font-size: 56px;
  }

  @include media("desktop") {
    margin-bottom: 25px;
    font-size: 77px;
  }
}

.hero__text-content p {
  margin: 0;

  font-size: 15px;
  line-height: 20px;

  @include media("tablet") {
    width: 500px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 24px;
  }

  @include media("desktop") {
    margin: 0;
  }
}

.hero__slide .button {
  min-width: 180px;
  max-width: 280px;
}

.hero__container {
  display: none;

  @include media("desktop") {
    display: flex;
    max-width: 1050px;
    flex-wrap: wrap;
    margin-top: 134px;
    gap: 10px;

    font-size: 12px;
    line-height: 16px;
  }
}

.hero__details {
  max-width: 520px;
  padding: 14px 20px 14px 40px;

  background-repeat: no-repeat;
  background-size: 14px;
  background-position: center left 15px;

  border: 1px solid $white;

  &--duration {
    background-image: url("/__spritemap#sprite-moon-view");
  }

  &--difficulty {
    background-image: url("/__spritemap#sprite-level-view");
  }
}

.hero__pagination {
  --swiper-pagination-bullet-horizontal-gap: 10px;
  --swiper-pagination-bottom: 40px;

  & .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 1px solid $white;
    opacity: 1;
    transition: background-color 0.2s;

    @include media("tablet") {
      width: 20px;
      height: 20px;
    }

    &:hover {
      background-color: rgba($white, 0.3);
    }
  }

  & .swiper-pagination-bullet-active,
  & .swiper-pagination-bullet-active:hover {
    background-color: $white;
  }

  @include media("desktop") {
    --swiper-pagination-bottom: 92px;

    .hero__slider &.swiper-pagination {
      width: auto;
      left: 50%;
      transform: translateX(calc(600px - 100%));
    }
  }
}
