.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  .page-header__nav & {
    width: 290px;
    margin: 0 auto;

    @include media("tablet") {
      width: 678px;
    }

    @include media("desktop") {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  }
}

.nav__link {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;

  .page-header__nav & {
    padding: 11px 5px;
  }

  .page-footer__nav & {
    padding-top: 7px;
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: $black;
    text-transform: none;
  }

  @include media("tablet") {
    font-size: 16px;
    line-height: 16px;

    .page-header__nav & {
      padding-block: 13px;
    }
  }

  @include media("desktop") {
    font-weight: 400;
    text-transform: none;

    .page-footer__nav & {
      font-size: 16px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    bottom: 19%;
    left: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.2s ease;
  }

  &:hover::before {
    transform: scaleX(1);
  }

  &:focus {
    outline: 1px solid currentColor;
  }

  &:active {
    color: $dark-blue;
    outline: none;
  }
  &:active::before {
    transform: scale(0);
  }

  .page-footer__nav &:active {
    color: $blue;
  }

  &.disabled,
  &.disabled:hover {
    color: $grey;
    cursor: not-allowed;
  }

  &.disabled:hover::before {
    transform: scaleX(0);
  }
}
