.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__item {
  padding-block: 11px;

  .page-footer__nav & {
    text-align: center;
  }

  @include media("tablet") {
    padding-block: 13px;
  }

  @include media("desktop") {
    padding: 23px 15px;
  }
}

.nav__link {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 4%;
  text-transform: uppercase;
  color: $white;

  .page-footer__nav & {
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: $black;
    text-transform: none;
  }

  @include media("tablet") {
    font-size: 16px;
    line-height: 16px;
  }

  @include media("desktop") {
    font-weight: 400;
    text-transform: none;
    letter-spacing: normal;

    .page-footer__nav & {
      font-size: 16px;
    }
  }
}
