.page-header {
  position: relative;
  padding-block: 15px;
  background-color: $blue;

  @include media("tablet") {
    padding-top: 20px;
    padding-bottom: 14px;
  }

  @include media("desktop") {
    padding-block: 37px;
  }
}

.page-header .container {
  display: grid;
  grid-template-columns: 1fr 142px;
  gap: 10px;
  align-items: center;

  @include media("tablet") {
    grid-template-columns: 1fr 206px 1fr;
    gap: 14px;
  }

  @include media("desktop") {
    grid-template-columns: 1fr 805px 1fr;
  }
}

.page-header__nav {
  position: absolute;
  width: 100%;
  padding-block: 30px 50px;
  top: 100%;
  left: 0;
  background-color: $blue;
  z-index: 10;

  transition: all 0.2s ease;

  &--closed {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
  }

  @include media("mobile") {
    padding: 0 15px 35px;
  }

  @include media("tablet") {
    padding: 17px 45px 70px;
  }

  @include media("desktop") {
    position: static;
    display: block;
    padding: 0;

    opacity: 1;
    visibility: visible;
    transform: none;
  }
}

.page-header__toggler {
  position: relative;
  width: 26px;
  height: 26px;

  background-color: transparent;
  border: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    left: 0;
    background-color: $white;
    transition: all 0.2s ease-in-out;
  }

  &::before {
    width: 26px;
    top: -8px;
    box-shadow: 0 17px 0 $white;
  }

  &::after {
    width: 18px;
    top: 1px;
  }

  &--open::before,
  &--open::after {
    width: 35px;
    top: 11px;
    left: -5px;
  }

  &--open::before {
    box-shadow: none;
    transform: rotate(45deg);
  }

  &--open::after {
    transform: rotate(-45deg);
  }

  @include media("tablet") {
    &::before {
      top: 0;
    }

    &::after {
      top: 9px;
    }

    &--open::after {
      top: 0;
    }
  }

  @include media("desktop") {
    display: none;
  }
}

.page-header__logo {
  @include media("tablet") {
    padding-inline: 32px;
  }

  @include media("desktop") {
    padding-top: 3px;
  }
}

.page-header__phone {
  grid-column: 2 / 3;
  justify-self: end;

  @include media("tablet") {
    grid-column: 3 / 4;
  }
}
