.page-footer {
  padding-block: 23px 20px;
  text-align: center;
}

.page-footer__container {
  @include media("tablet") {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}

.page-footer__nav .nav__list {
  column-count: 2;
  column-gap: 50px;

  @include media("tablet") {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

.page-footer__socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin: 0;
  margin-block: 23px;
  padding: 0;
  list-style-type: none;

  @include media("tablet") {
    margin-block: 34px;
  }

  @include media("desktop") {
    margin-block: 22px;
  }
}

.page-footer__socials-link {
  display: block;
  width: 30px;
  height: 30px;
  padding: 7px;

  outline: 1px solid tomato;
}

.page-footer__phone {
  white-space: nowrap;
}

.page-footer__policy {
  font-size: 12px;
  line-height: 1;
  font-weight: 300;
  color: $black;
}
