.page-footer {
  padding-block: 23px 20px;
  text-align: center;
}

.page-footer__container {
  @include media("tablet") {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}

.page-footer__nav .nav__list {
  column-count: 2;
  column-gap: 50px;

  @include media("tablet") {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

.page-footer__socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin: 0;
  margin-block: 23px;
  padding: 0;
  list-style-type: none;

  @include media("tablet") {
    margin-block: 34px;
  }

  @include media("desktop") {
    margin-block: 22px;
  }
}

.page-footer__socials-link {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  padding: 7px;

  border: 1px solid rgba($black, 0.3);

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: $black;

    mask-repeat: no-repeat;
  }

  &--vk::before {
    mask-image: url("/__spritemap#sprite-vk-view");
    mask-size: 16px;
    mask-position: 6px center;
  }
  &--ok::before {
    mask-image: url("/__spritemap#sprite-ok-view");
    mask-size: 9px;
    mask-position: 10px center;
  }
  &--reddit::before {
    mask-image: url("/__spritemap#sprite-reddit-view");
    mask-size: 14px;
    mask-position: 7px center;
  }
}

.page-footer__phone {
  white-space: nowrap;
}

.page-footer__policy {
  font-size: 12px;
  line-height: 1;
  font-weight: 300;
  color: $black;
}
