.page-footer {
  padding-block: 0 20px;
  text-align: center;
}

.page-footer > .container {
  padding-top: 23px;
  border-top: 1px solid rgba($black, 0.2);

  @include media("tablet") {
    padding-top: 32px;
    padding-inline: 33px;
  }

  @include media("desktop") {
    padding-top: 38px;
    padding-right: 84px;
  }
}

.page-footer__container {
  @include media("tablet") {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  @include media("tablet") {
    gap: 37px;
  }
  @include media("desktop") {
    grid-template-columns: 1fr 800px 1fr;
  }
}

.page-footer__logo {
  display: block;
  padding-bottom: 10px;

  @include media("tablet") {
    padding-left: 12px;
    padding-bottom: 0;
  }
}

.page-footer__nav .nav__list {
  column-count: 2;
  column-gap: 50px;

  @include media("tablet") {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  @include media("desktop") {
    margin-right: 37px;
    gap: 30px;
  }
}

.page-footer .phone {
  grid-column: 3 / 4;
}

.page-footer__socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 19px;
  padding: 0;
  list-style-type: none;

  @include media("tablet") {
    margin-top: 30px;
    margin-bottom: 27px;
  }

  @include media("desktop") {
    margin-top: 25px;
    margin-right: 38px;
    margin-bottom: 15px;
  }
}

.page-footer__socials-link {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  padding: 7px;

  border: 1px solid rgba($black, 0.3);
  transition: border-color 0.2s, background-color 0.2s;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: $black;
    mask-repeat: no-repeat;
    transition: background-color 0.2s;
  }

  &--vk::before {
    mask-image: url("/__spritemap#sprite-vk-view");
    mask-size: 16px;
    mask-position: 6px center;
  }
  &--ok::before {
    mask-image: url("/__spritemap#sprite-ok-view");
    mask-size: 9px;
    mask-position: 10px center;
  }
  &--reddit::before {
    mask-image: url("/__spritemap#sprite-reddit-view");
    mask-size: 14px;
    mask-position: 7px center;
  }

  &:hover {
    border-color: $black;
  }

  &:focus {
    border-color: $white;
    outline: none;
  }

  &:active {
    background-color: $blue;
    border-color: $blue;

    &::before {
      background-color: $white;
    }
  }

  &.disabled,
  &.disabled:hover {
    background-color: $white;
    border-color: rgba($black, 0.3);
    cursor: not-allowed;

    &::before {
      background-color: rgba($black, 0.3);
    }
  }
}

.page-footer__policy {
  font-size: 12px;
  line-height: 1;
  font-weight: 300;
  color: $black;

  @include media("desktop") {
    margin-right: 36px;
  }

  &:hover {
    color: rgba($black, 0.5);
  }
}
