.phone {
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  color: $white;
  white-space: nowrap;
  transition: color 0.2s;

  &--dark {
    display: none;
  }

  @include media("tablet") {
    font-size: 16px;
  }

  @include media("desktop") {
    font-size: 18px;

    &--dark {
      display: block;
      color: $black;
    }
  }

  &:hover {
    color: rgba($white, 0.5);
  }
  &--dark:hover {
    color: rgba($blue, 0.1);
  }

  &:focus {
    color: $black;
    outline: none;
  }
  &--dark:focus {
    color: $blue;
    outline: none;
  }

  &:active {
    color: $dark-blue;
  }

  &.disabled {
    color: $grey;
    cursor: auto;
  }
}
