.reviews .reviews-slide {
  display: grid;
  gap: 19px;
  width: 290px;
  padding: 20px;
  padding-top: 19px;
  background-color: $white;
  box-shadow: 0 0 30px 0 rgba($blue, 0.1);

  @include media("tablet") {
    grid-template-columns: 186px 1fr;
    width: 565px;
    gap: 30px;
    padding: 20px;
  }

  @include media("desktop") {
    grid-template-columns: 258px 1fr;
    width: 700px;
    padding: 20px 30px;
  }
}

.reviews-slide img {
  width: 250px;
  height: 169px;
  object-fit: cover;

  @include media("tablet") {
    width: 186px;
    height: 237px;
  }

  @include media("desktop") {
    width: 258px;
    height: 253px;
  }
}

.reviews-slide blockquote {
  margin: 0;

  @include media("tablet") {
    margin-top: 4px;
  }

  @include media("desktop") {
    margin-top: 0;
  }
}

.reviews-slide p {
  margin: 0;
  margin-bottom: 10px;

  @include media("tablet") {
    margin-bottom: 9px;
    font-size: 12px;
    line-height: 18px;

    &:last-of-type {
      margin-bottom: 25px;
    }
  }

  @include media("desktop") {
    font-size: 14px;
    line-height: 22px;

    &:first-of-type {
      line-height: 21.7px;
    }

    &:last-of-type {
      margin-bottom: 4px;
    }
  }
}

.reviews-slide cite {
  display: block;
  margin-top: 16px;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  font-style: normal;

  @include media("tablet") {
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 13px;
  }

  @include media("desktop") {
    margin-bottom: 1px;
  }
}

.reviews-slide span {
  font-size: 12px;
  line-height: 1;
  font-weight: 300;
}
