.section {
  padding-block: 20px;

  @include media("tablet") {
    padding-block: 40px;
  }

  @include media("desktop") {
    padding-block: 100px;
  }
}

.section__title {
  margin: 0;
  margin-bottom: 42px;

  font-size: 22px;
  line-height: 1;
  font-weight: 800;

  .training & {
    margin-bottom: 35px;
  }

  .training__slider & {
    margin-bottom: 25px;
  }

  @include media("tablet") {
    margin-bottom: 35px;
    font-size: 25px;

    .training & {
      margin-bottom: 36px;
    }

    .training__slider & {
      margin-bottom: 30px;
    }
  }

  @include media("desktop") {
    margin-bottom: 53px;
    font-size: 55px;

    .training & {
      margin-bottom: 38px;
    }

    .training__slider & {
      margin-bottom: 20px;
    }
  }
}

.section__navigation {
  display: flex;
}

.section__navigation .button {
  display: none;

  @include media("tablet") {
    display: block;
  }
}
