.section {
  padding-block: 20px;

  @include media("tablet") {
    padding-block: 40px;
  }

  @include media("desktop") {
    padding-block: 100px;

    &.contacts{
      padding-bottom: 95px;
    }
  }
}

.section__header {
  .tours & {
    margin-bottom: 42px;

    @include media("tablet") {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }

    @include media("desktop") {
      margin-bottom: 53px;
    }
  }

  .training & {
    margin-bottom: 25px;

    @include media("tablet") {
      margin-bottom: 30px;
    }

    @include media("desktop") {
      margin-bottom: 20px;
    }
  }

  .reviews & {
    margin-bottom: 32px;

    @include media("tablet") {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }

    @include media("desktop") {
      margin-bottom: 38px;
    }
  }

  .gallery & {
    margin-bottom: 31px;

    @include media("tablet") {
      display: grid;
      grid-template-columns: 1fr 78px;
      align-items: end;
      margin-bottom: 21px;
    }

    @include media("desktop") {
      margin-bottom: 46px;
    }
  }
}

.section__title {
  margin: 0;
  font-size: 22px;
  line-height: 1;
  font-weight: 800;

  .training > .container > & {
    margin-bottom: 35px;

    @include media("tablet") {
      margin-bottom: 36px;
    }

    @include media("desktop") {
      margin-bottom: 38px;
    }
  }

  .advantages &  {
    margin-bottom: 37px;
  }

  .gallery & {
    margin-bottom: 27px;
  }

  .contacts & {
    margin-bottom: 29px;
  }

  @include media("tablet") {
    font-size: 25px;

    .advantages &  {
      margin-bottom: 60px;
    }

    .contacts & {
      margin-bottom: 20px;
    }
  }

  @include media("desktop") {
    font-size: 35px;

    .advantages &  {
      margin-bottom: 50px;
    }

    .contacts & {
      margin-bottom: 26px;
    }
  }
}

.section__navigation {
  display: none;
  gap: 4px;

  @include media("tablet") {
    display: flex;
  }

  .advantages & {
    @include media("tablet") {
      display: none;
    }

    @include media("desktop") {
      display: flex;
      justify-content: center;
      margin-top: 50px;
    }
  }

  .gallery & {
    @include media("desktop") {
      display: none;
    }
  }
}
