.section {
  padding-block: 20px;

  @include media("tablet") {
    padding-block: 40px;
  }

  @include media("desktop") {
    padding-block: 100px;

    &.contacts{
      padding-bottom: 95px;
    }
  }
}

.section__header {
  .gallery & {
    margin-bottom: 31px;

    @include media("tablet") {
      margin-bottom: 21px;
    }

    @include media("desktop") {
      margin-bottom: 46px;
    }
  }
}

.section__title {
  margin: 0;
  margin-bottom: 42px;

  font-size: 22px;
  line-height: 1;
  font-weight: 800;

  .training & {
    margin-bottom: 35px;
  }

  .training__slider & {
    margin-bottom: 25px;
  }

  .reviews & {
    margin-bottom: 32px;
  }

  .advantages & {
    margin-bottom: 37px;
  }

  .gallery & {
    margin-bottom: 27px;
  }

  .contacts & {
    margin-bottom: 29px;
  }

  @include media("tablet") {
    margin-bottom: 35px;
    font-size: 25px;

    .training & {
      margin-bottom: 36px;
    }

    .training__slider &,
    .gallery & {
      margin-bottom: 30px;
    }

    .advantages & {
      margin-bottom: 60px;
    }

    .contacts & {
      margin-bottom: 20px;
    }
  }

  @include media("desktop") {
    margin-bottom: 53px;
    font-size: 35px;

    .training &,
    .reviews & {
      margin-bottom: 38px;
    }

    .training__slider & {
      margin-bottom: 20px;
    }

    .advantages & {
      margin-bottom: 50px;
    }

    .gallery & {
      margin-bottom: 27px;
    }

    .contacts & {
      margin-bottom: 26px;
    }
  }
}

.section__navigation {
  display: none;

  @include media("tablet") {
    display: flex;
  }

  .advantages & {
    @include media("tablet") {
      display: none;
    }

    @include media("desktop") {
      display: flex;
    }
  }

  .gallery & {
    @include media("desktop") {
      display: none;
    }
  }
}
