.section {
  padding-top: 30px;
  padding-bottom: 14px;

  &.about {
    @include media("tablet") {
      padding-top: 64px;
      padding-bottom: 37px;
    }

    @include media("desktop") {
      padding-top: 75px;
      padding-bottom: 54px;
    }
  }

  &.reviews {
    @include media("desktop") {
      padding-bottom: 89px;
    }
  }

  &.advantages {
    padding-top: 10px;
  }

  &.gallery {
    padding-top: 28px;
    padding-bottom: 3px;
  }

  &.contacts {
    padding-bottom: 18px;
  }

  @include media("tablet") {
    padding-top: 52px;
    padding-bottom: 35px;

    &.advantages {
      padding-top: 0;
    }

    &.gallery {
      padding-top: 59px;
    }

    &.contacts {
      padding-bottom: 39px;
    }
  }

  @include media("desktop") {
    padding-top: 112px;
    padding-bottom: 100px;

    &.contacts {
      padding-bottom: 95px;
    }
  }
}

.section__header {
  .tours & {
    margin-bottom: 39px;
    padding-top: 8px;

    @include media("tablet") {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }

    @include media("desktop") {
      margin-bottom: 53px;
    }
  }

  .training & {
    margin-bottom: 21px;

    @include media("tablet") {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }

    @include media("desktop") {
      margin-bottom: 20px;
    }
  }

  .reviews & {
    margin-bottom: 32px;
    padding-top: 12px;

    @include media("tablet") {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }

    @include media("desktop") {
      margin-bottom: 38px;
      padding-top: 30px;
    }
  }

  .gallery & {
    margin-bottom: 31px;
    padding-top: 11px;

    @include media("tablet") {
      display: grid;
      grid-template-columns: 1fr 78px;
      align-items: end;
      margin-bottom: 21px;
    }

    @include media("desktop") {
      margin-bottom: 42px;
    }
  }
}

.section__title {
  margin: 0;
  font-size: 22px;
  line-height: 1;
  font-weight: 800;

  .training > .container > & {
    margin-bottom: 33px;

    @include media("tablet") {
      margin-bottom: 36px;
    }

    @include media("desktop") {
      margin-bottom: 32px;
    }
  }

  .advantages &  {
    margin-bottom: 35px;
  }

  .gallery & {
    margin-bottom: 27px;
  }

  .contacts & {
    margin-bottom: 29px;
  }

  @include media("tablet") {
    font-size: 25px;

    .advantages &  {
      margin-bottom: 60px;
    }

    .gallery & {
      margin-bottom: 29px;
    }

    .contacts & {
      margin-bottom: 20px;
    }
  }

  @include media("desktop") {
    font-size: 35px;

    .advantages &  {
      margin-bottom: 50px;
    }

    .contacts & {
      margin-bottom: 24px;
    }
  }
}

h2.section__title,
.about__container h2 {
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    top: -70%;
    left: 0;
    right: 0;
    font-size: 26px;
    line-height: 1;
    color: rgba($black, 0.03);
    white-space: nowrap;
    z-index: -1;
    pointer-events: none;

    @include media("tablet") {
      font-size: 40px;
      top: -55%;
    }

    @include media("desktop") {
      font-size: 55px;
    }
  }
}

.about__container h2,
.reviews .section__title {
  &::before {
    @include media("desktop") {
      top: -40px;
    }
  }
}

.advantages .section__title {
  &::before {
    @include media("desktop") {
      top: -30px;
    }
  }
}

h2.section__title::before {
  content: attr(data-title);
}

.about__container h2::before {
  content: "О нас";
}

.section__navigation {
  display: none;
  gap: 4px;

  @include media("tablet") {
    display: flex;
  }

  .advantages & {
    @include media("tablet") {
      display: none;
    }

    @include media("desktop") {
      display: flex;
      justify-content: center;
      margin-top: 48px;
    }
  }

  .gallery & {
    @include media("desktop") {
      display: none;
    }
  }

  & .swiper-navigation-icon {
    display: none;
  }
}

.section__navigation .button {
  width: 37px;
  height: 35px;
  padding: 0;

  &::before {
    content: "";
    display: block;
    width: 37px;
    height: 35px;
    background-color: $white;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 15px;
  }

  &:first-child::before {
    mask-image: url("/__spritemap#sprite-arrow-left-view");
  }

  &:last-child::before {
    mask-image: url("/__spritemap#sprite-arrow-right-view");
  }

  @media (hover: hover) {
    &:hover,
    &:focus {
      background-color: $white;
      outline: none;

      &::before {
        background-color: $dark-blue;
      }
    }

    &:focus {
      outline: none;
    }

    &:active {
      background-color: $dark-blue;

      &::before {
        background-color: $white;
      }
    }
  }

  &:disabled {
    background-color: $grey;
  }

  &:disabled:hover::before {
    background-color: $white;
  }
}
