.tours__show-all {
  position: relative;
  display: block;
  width: 212px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 10px 28px 10px 10px;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: $black;

  @include media("tablet") {
    width: 230px;
    font-size: 16px;
  }

  @include media("desktop") {
    margin-top: 53px;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    top: 11px;
    right: 12px;

    border: 3px solid $black;
    border-left: none;
    border-bottom: none;

    transform: rotate(45deg);
  }
}
