.tours-slide {
  width: 290px;
  padding: 224px 20px 30px;
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  color: $white;

  background-color: #4995ac;
  background-size: cover;
  background-position: center 0;

  &--bg-1 {
    background-image: url("../../img/bg/tours-elbrus.jpg");
  }

  &--bg-2 {
    background-image: url("../../img/bg/tours-belukha.jpg");
  }

  &--bg-3 {
    background-image: url("../../img/bg/tours-fisht.jpg");
  }

  &--bg-4 {
    background-image: url("../../img/bg/tours-manaraga.jpg");
  }

  @include media("tablet") {
    width: 330px;
  }

  @include media("desktop") {
    width: 380px;
    padding-top: 196px;
  }
}

.tours-slide__container {
  display: grid;
  grid-template-columns: 1fr 148px;
  align-items: center;
}

.tours-slide__title {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  margin-block: 15px 31px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.tours-slide__location {
  justify-self: start;
  padding: 8px 12px 8px 34px;
}

.tours-slide__duration {
  justify-self: end;
  display: flex;
  gap: 14px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tours-slide__info {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.tours-slide__term {
  margin-bottom: 7px;
  font-weight: 300;
}

.tours-slide__desc {
  margin: 0;
  font-weight: 700;
}
