.tours__show-all {
  position: relative;
  display: block;
  width: 212px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 10px 28px 10px 10px;
  padding-left: 9px;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: $black;
  text-align: center;
  letter-spacing: 0.5px;
  transition: color 0.2s;

  @include media("tablet") {
    width: 240px;
    font-size: 16px;
    padding-top: 11px;
    letter-spacing: 0.6px;
  }

  @include media("desktop") {
    margin-top: 54px;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    top: 13px;
    right: 10px;

    border: 3px solid $black;
    border-left: none;
    border-bottom: none;

    transform: rotate(45deg);
    transition: border-color 0.2s;

    @include media("tablet") {
      right: 12px;
    }
  }

  &:hover {
    color: rgba($blue, 0.1);

    &::before {
      border-color: rgba($blue, 0.1);
    }
  }

  &:focus {
    color: $blue;
    outline: none;

    &::before {
      border-color: $blue;
    }
  }

  &:active {
    color: $dark-blue;

    &::before {
      border-color: $dark-blue;
    }
  }
}

.tours__show-all.disabled,
.tours__show-all.disabled:hover {
  color: $grey;
  cursor: not-allowed;

  &::before {
    border-color: $grey;
  }
}
