.tours-slide {
  display: flex;
  width: 290px;
  min-height: 416px;
  padding: 30px 20px;
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  color: $white;

  background-color: #4995ac;
  background-size: cover;
  background-position: center 0;

  &--bg-1 {
    background-image:
      image-set(
        url("../../img/bg/tours-elbrus@1x.webp") 1x,
        url("../../img/bg/tours-elbrus@2x.webp") 2x,
        url("../../img/bg/tours-elbrus@1x.jpg") 1x,
        url("../../img/bg/tours-elbrus@2x.jpg") 2x
      );
  }

  &--bg-2 {
    background-image:
      image-set(
        url("../../img/bg/tours-belukha@1x.webp") 1x,
        url("../../img/bg/tours-belukha@2x.webp") 2x,
        url("../../img/bg/tours-belukha@1x.jpg") 1x,
        url("../../img/bg/tours-belukha@2x.jpg") 2x
      );
  }

  &--bg-3 {
    background-image:
      image-set(
        url("../../img/bg/tours-fisht@1x.webp") 1x,
        url("../../img/bg/tours-fisht@2x.webp") 2x,
        url("../../img/bg/tours-fisht@1x.jpg") 1x,
        url("../../img/bg/tours-fisht@2x.jpg") 2x
      );
  }

  &--bg-4 {
    background-image:
      image-set(
        url("../../img/bg/tours-manaraga@1x.webp") 1x,
        url("../../img/bg/tours-manaraga@2x.webp") 2x,
        url("../../img/bg/tours-manaraga@1x.jpg") 1x,
        url("../../img/bg/tours-manaraga@2x.jpg") 2x
      );
  }

  @include media("tablet") {
    width: 330px;
    padding-top: 31px;
    padding-bottom: 30px;
  }

  @include media("desktop") {
    width: 380px;
    padding-top: 196px;
    padding-bottom: 30px;
  }
}

.tours-slide__container {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

.tours-slide__title {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  margin-block: 16px 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 1px;
    bottom: -15px;
    background-color: rgba($white, 0.3);
  }

  @include media("tablet") {
    margin-block: 16px 30px;
  }

  @include media("desktop") {
    margin-block: 16px 30px;
  }
}

.tours-slide__location {
  min-width: 80px;
  max-width: 100px;
  justify-self: start;
  padding: 8px 12px 8px 34px;
  font-size: 12px;
  color: $white;
  background-color: $blue;

  background-image: url("/__spritemap#sprite-pin-filled-view");
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: 12px 8px;

  &:active {
    background-color: $dark-blue;
  }
}

.tours-slide__info {
  justify-self: end;
  display: flex;
  gap: 14px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tours-slide__info-item {
  padding: 4px 0 4px 32px;
  background-repeat: no-repeat;
  background-position: 2px;
  background-size: 16px;

  &:first-child {
    background-image: url("/__spritemap#sprite-sun-view");
  }

  &:last-child {
    background-image: url("/__spritemap#sprite-moon-view");
  }
}

.tours-slide__details {
  grid-column: 1 / -1;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  margin: 0;
}

.tours-slide__term {
  margin-bottom: 5px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.tours-slide__desc {
  margin: 0;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.5px;
}

.tours-slide__stars {
  display: flex;
  gap: 1.7px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tours-slide__star {
  width: 15px;
  height: 13px;
  background: url("/__spritemap#sprite-star-empty-view") no-repeat center / contain;
}

.tours-slide__difficulty[data-stars="1"] .tours-slide__star:nth-child(-n+1),
.tours-slide__difficulty[data-stars="2"] .tours-slide__star:nth-child(-n+2),
.tours-slide__difficulty[data-stars="3"] .tours-slide__star:nth-child(-n+3),
.tours-slide__difficulty[data-stars="4"] .tours-slide__star:nth-child(-n+4),
.tours-slide__difficulty[data-stars="5"] .tours-slide__star:nth-child(-n+5) {
  background-image: url("/__spritemap#sprite-star-view");
}
