.tours-slide {
  width: 290px;
  padding: 224px 20px 30px;
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  color: $white;
  background-color: #4995ac;

  @include media("tablet") {
    width: 330px;
  }

  @include media("desktop") {
    width: 380px;
    padding-top: 196px;
  }
}

.tours-slide__title {
  margin-block: 15px 31px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.tours-slide__location {
  padding: 8px 12px 8px 34px;
}

.tours-slide__term {
  font-weight: 300;
}

.tours-slide__desc {
  font-weight: 700;
}
