.training-slide {
  width: 290px;
  padding: 15px;
  border: 1px solid rgba($blue, 0.1);

  @include media("tablet") {
    width: 212px;
  }

  @include media("desktop") {
    width: 285px;
  }
}

.training-slide__container {
  display: flex;
  justify-content: space-between;
  margin-block: 15px;
}

.training-slide h4 {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.training-slide a {
  width: 24px;
  height: 24px;
  border: 1px solid rgba($black, 0.3);
}

.training-slide__icon {
  display: block;
  width: 24px;
  height: 24px;
  background-color: $black;
  mask-image: url("/__spritemap#sprite-vk-view");
  mask-repeat: no-repeat;
  mask-size: 14px 8px;
  mask-position: center;
}

.training-slide p {
  width: 100%;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
}
