.training-slide {
  width: 290px;
  padding: 15px;
}

.training-slide h4 {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.training-slide p {
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
}
