.training-slide {
  width: 290px;
  padding: 15px;
  border: 1px solid rgba($blue, 0.1);
  background-color: $white;

  @include media("tablet") {
    width: 212px;
  }

  @include media("desktop") {
    width: 285px;
  }
}

.training-slide__container {
  display: flex;
  justify-content: space-between;
  margin-block: 15px;
}

.training-slide img {
  height: 200px;
  object-fit: cover;
}

.training-slide h4 {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.training-slide a {
  width: 24px;
  height: 24px;
  border: 1px solid rgba($black, 0.3);
  transition: border-color 0.2s, background-color 0.2s;

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-color: $black;
    mask-image: url("/__spritemap#sprite-vk-view");
    mask-repeat: no-repeat;
    mask-size: 14px 8px;
    mask-position: center;
    transition: background-color 0.2s;
  }

  &:hover {
    border-color: $black;
  }

  &:focus {
    border-color: $white;
    outline: none;
  }

  &:active {
    background-color: $blue;
    border-color: $blue;

    &::before {
      background-color: $white;
    }
  }

  &.disabled,
  &.disabled:hover {
    background-color: $white;
    border-color: rgba($black, 0.3);
    cursor: not-allowed;

    &::before {
      background-color: rgba($black, 0.3);
    }
  }
}

.training-slide p {
  width: 100%;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
}
