.training.section {
  @include media("desktop") {
    padding-block: 50px;
  }
}

.training .container {
  padding-top: 7px;

  @include media("tablet") {
    padding-top: 8px;
  }

  @include media("desktop") {
    padding-top: 9px;
  }
}

.training__slider {
  margin-bottom: 25px;

  @include media("desktop") {
    margin-bottom: 56px;
  }
}

.training p {
  margin: 0;
  margin-bottom: 29px;

  font-size: 14px;
  line-height: 20px;

  br {
    display: none;
  }

  @include media("tablet") {
    margin-bottom: 27px;
    font-size: 16px;
    line-height: 24px;

    br {
      display: block;
    }
  }

  @include media("desktop") {
    width: 820px;
    margin-bottom: 58px;

    br {
      display: none;
    }
  }
}

.training__process-title {
  margin: 0;
  margin-bottom: 23px;

  font-size: 16px;
  line-height: 1;
  font-weight: 700;

  @include media("tablet") {
    margin-bottom: 100px;
    font-size: 18px;
  }

  @include media("desktop") {
    margin-bottom: 27px;
    font-size: 21px;
  }
}

.training__process-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin: 0;
  padding: 0;
  padding-left: 29px;

  font-size: 12px;
  line-height: 18px;

  list-style-type: none;

  br {
    display: none;
  }

  @include media("tablet") {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 164px;
    row-gap: 101px;
    padding-left: 0;
    font-size: 14px;
    line-height: 22px;
  }

  @include media("desktop") {
    gap: 0;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 20px;

    br {
      display: block;
    }
  }
}

.training__process-item {
  position: relative;
  width: 235px;
  padding-left: 34px;
  padding-bottom: 3px;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 0 0;

  &--map {
    background-image: url("/__spritemap#sprite-map-view");
  }

  &--boot {
    background-image: url("/__spritemap#sprite-boot-view");
  }

  &--pine-tree {
    background-image: url("/__spritemap#sprite-pine-tree-view");
  }

  &--mountains {
    background-image: url("/__spritemap#sprite-mountain-view");
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
    left: -29px;
    background-color: $blue;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    left: -23px;
    top: 40%;
    bottom: -100%;
    width: 2px;
    background-color: $blue;
  }

  &:last-child::after {
    display: none;

    @include media("desktop") {
      display: block;
    }
  }

  @include media("tablet") {
    width: 242px;
    padding-left: 35px;

    background-position: 0 2px;

    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(3) {
      order: 2;
    }

    &::before,
    &::after {
      display: none;
    }
  }

  @include media("desktop") {
    width: 253px;
    padding-left: 45px;
    padding-bottom: 35px;
    background-position: 10px 2px;

    &:nth-child(2) {
      order: 0;
    }

    &:nth-child(3) {
      order: 0;
    }

    &::before {
      display: block;
      top: auto;
      bottom: 12px;
      left: 20px;
    }

    &::after {
      display: block;
      width: 166%;
      height: 2px;
      bottom: 25px;
      left: 20px;
      top: auto;
    }
  }
}
