.training.section {
  @include media("desktop") {
    padding-block: 40px;
  }
}

.training__slider {
  margin-bottom: 25px;

  @include media("desktop") {
    margin-bottom: 56px;
  }
}

.training p {
  margin: 0;
  margin-bottom: 25px;

  font-size: 14px;
  line-height: 20px;

  & br {
    display: none;
  }

  @include media("tablet") {
    font-size: 16px;
    line-height: 24px;

    & br {
      display: block;
    }
  }

  @include media("desktop") {
    width: 820px;
    margin-bottom: 56px;

    & br {
      display: none;
    }
  }
}

.training__process-title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 16px;
  line-height: 1;
  font-weight: 700;

  @include media("tablet") {
    margin-bottom: 104px;
    font-size: 18px;
  }

  @include media("desktop") {
    margin-bottom: 23px;
    font-size: 21px;
  }
}

.training__process-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0;
  padding: 0;
  padding-left: 29px;

  font-size: 12px;
  line-height: 18px;

  list-style-type: none;

  & br {
    display: none;
  }

  @include media("tablet") {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 174px;
    row-gap: 104px;
    padding-left: 0;
    font-size: 14px;
    line-height: 22px;
  }

  @include media("desktop") {
    gap: 0;
    font-size: 16px;
    line-height: 24px;

    & br {
      display: block;
    }
  }
}

.training__process-item {
  width: 235px;
  padding-left: 34px;

  @include media("tablet") {
    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(3) {
      order: 2;
    }
  }

  @include media("desktop") {
    width: 253px;

    &:nth-child(2) {
      order: 0;
    }

    &:nth-child(3) {
      order: 0;
    }
  }
}
