.training.section {
  @include media("desktop") {
    padding-block: 40px;
  }
}

.training__slider {
  margin-bottom: 25px;

  @include media("desktop") {
    margin-bottom: 56px;
  }
}

.training p {
  margin: 0;
  margin-bottom: 25px;

  font-size: 14px;
  line-height: 20px;

  & br {
    display: none;
  }

  @include media("tablet") {
    font-size: 16px;
    line-height: 24px;

    & br {
      display: block;
    }
  }

  @include media("desktop") {
    width: 820px;
    margin-bottom: 56px;

    & br {
      display: none;
    }
  }
}

.training__process-title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 16px;
  line-height: 1;
  font-weight: 700;

  @include media("tablet") {
    margin-bottom: 104px;
    font-size: 18px;
  }

  @include media("desktop") {
    margin-bottom: 23px;
    font-size: 21px;
  }
}

.training__process-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0;
  padding: 0;
  padding-left: 29px;

  font-size: 12px;
  line-height: 18px;

  list-style-type: none;

  & br {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 183px;
    height: 2px;
    top: 50%;
    left: -84.5px;
    background-color: $blue;
    transform: rotate(90deg);
  }

  @include media("tablet") {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 174px;
    row-gap: 104px;
    padding-left: 0;
    font-size: 14px;
    line-height: 22px;

    &::before {
      display: none;
    }
  }

  @include media("desktop") {
    gap: 0;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 20px;

    & br {
      display: block;
    }

    &::before {
      display: block;
      width: 1180px;
      transform: none;
      top: 84px;
      left: 20px;
    }
  }
}

.training__process-item {
  position: relative;
  width: 235px;
  padding-left: 34px;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 0 0;

  &--map {
    background-image: url("/__spritemap#sprite-map-view");
  }

  &--boot {
    background-image: url("/__spritemap#sprite-boot-view");
  }

  &--pine-tree {
    background-image: url("/__spritemap#sprite-pine-tree-view");
  }

  &--mountains {
    background-image: url("/__spritemap#sprite-mountain-view");
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
    left: -29px;
    background-color: $blue;
    border-radius: 50%;
  }

  @include media("tablet") {
    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(3) {
      order: 2;
    }

    &::before {
      display: none;
    }
  }

  @include media("desktop") {
    width: 253px;

    &:nth-child(2) {
      order: 0;
    }

    &:nth-child(3) {
      order: 0;
    }

    &::before {
      display: block;
      top: 85px;
      left: 10px;
    }
  }
}
