*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: $black;

  background-color: $white;

  @include media("tablet") {
    font-size: 14px;
    line-height: 22px;
  }

  @include media("desktop") {
    font-size: 16px;
    line-height: 24px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
  white-space: nowrap;
}

.main-container {
  flex-grow: 1;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 15px;

  @include media("tablet") {
    width: 768px;
    padding: 0 45px;
  }

  @include media("desktop") {
    width: 1440px;
    padding: 0 120px;
  }
}
