// Vendor
@import "vendor/normalize";

// COMMON
@import "common/variables.scss";
@import "common/media.scss";
@import "common/fonts.scss";
@import "common/global.scss";

// BLOCKS
@import "blocks/page-header.scss";
@import "blocks/nav.scss";
@import "blocks/phone.scss";
@import "blocks/hero.scss";
@import "blocks/button.scss";
@import "blocks/section.scss";
@import "blocks/tours.scss";
@import "blocks/tours-slide.scss";
@import "blocks/training.scss";
@import "blocks/training-slide.scss";
@import "blocks/about.scss";
@import "blocks/reviews-slide.scss";
@import "blocks/advantages.scss";
@import "blocks/gallery.scss";
@import "blocks/callback.scss";
@import "blocks/contacts.scss";
@import "blocks/page-footer.scss";
@import "blocks/field.scss";
