// Vendor
@import "vendor/normalize";

// COMMON
@import "common/variables";
@import "common/media";
@import "common/fonts";
@import "common/global";

// BLOCKS
@import "blocks/page-main-bg";
@import "blocks/page-header";
@import "blocks/nav";
@import "blocks/phone";
@import "blocks/hero";
@import "blocks/button";
@import "blocks/section";
@import "blocks/tours";
@import "blocks/tours-slide";
@import "blocks/training";
@import "blocks/training-slide";
@import "blocks/about";
@import "blocks/reviews";
@import "blocks/reviews-slide";
@import "blocks/advantages";
@import "blocks/gallery";
@import "blocks/callback";
@import "blocks/field";
@import "blocks/contacts";
@import "blocks/page-footer";
